env-mindgraph/
organon/__pycache__/
organon/t/__pycache__/
organon/*.pyc
*.dot
.idea/
.cache/
mind-graph-23440bbdaea2.json

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
