<!doctype html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/vis.min.js') }}"></script>

    <style>
        #mynetwork {
            width: 700px;
            height: 500px;
            border: 1px solid #444444;
            background-color: #222222;
        }
    </style>

    <title>MindGraph</title>
</head>

<body>
    <div style='float:left; width:30%'>
        <h2>MindGraph v0</h2>

        <button id="calculate">Generate graph</button>
        <p><textarea name="input_text" cols="40" rows="25" id=input_text_area></textarea>
    </div>

    <div style='float:left; width:30%'>
        <h3>Graph</h3>
        <p><div id="mynetwork"></div>
    </div>

    <script type=text/javascript>
        $(function() {
            $('#calculate').bind('click', function() {
                $.getJSON('/draw_graph', {
                    input_text: $('textarea[name="input_text"]').val()
                }, function(data) {
                    $("#dot_repr").text(data.dot_repr);
                    var parsed_data = vis.network.convertDot(data.dot_repr);
                    var graph_data = {
                        nodes: parsed_data.nodes,
                        edges: parsed_data.edges
                    };
                    var container = document.getElementById('mynetwork');
                    var options = {};
                    var network = new vis.Network(container, graph_data, options);
                });
                return false;
            });
        });
        // show pre-loaded data
        $(document).ready(function() {
            $('#input_text_area').load("{{ url_for('static', filename='example.txt') }}", function () {
                document.getElementById('calculate').click();
            });
        });
    </script>
</body>
