<!doctype html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/viz.js') }}"></script>
    <title>MindGraph</title>
</head>

<body>
    <div style='float:left; width:30%'>
        <h2>MindGraph v0</h2>

        <script type=text/javascript>
        $(function() {
            $('#calculate').bind('click', function() {
                $.getJSON('/generate_dot', {
                    input_text: $('textarea[name="input_text"]').val()
                }, function(data) {
                    $("#dot_repr").text(data.dot_repr);
                    var image = Viz.svgXmlToPngImageElement(Viz(data.dot_repr));
                    image.onload = function() {
                        document.getElementById("picture").src = image.src;
                    };
                });
                return false;
            });
        });
        </script>

        <button id="calculate">Generate graph</button>
        <p><textarea name="input_text" cols="40" rows="25">
# first tree: technologies
Programming Language, CI .is Technology

Python, C++ .is Programming Language
Travis .is CI

# second tree: projects
Data Science .is Project
xgboost, sklearn .is Data Science

# relations
xgboost .uses Travis, Python, C++
sklearn .uses Travis, Python</textarea>
    </div>

    <div style='float:left; width:30%'>
        <p> Graph
        <p><img id="picture" src=""></img>
        <p> DOT representation:
        <p><span id="dot_repr"></span>
    </div>

    <script type=text/javascript>
        $(document).ready(function() {
            document.getElementById('calculate').click();
        });
    </script>
</body>
