<!doctype html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/lib/vis.min.js') }}"></script>

    <style>
        #mynetwork {
            width: 700px;
            height: 500px;
            border: 1px solid #444444;
            background-color: #222222;
        }
    </style>

    <title>MindGraph</title>
</head>

<body>
    <div style='float:left; width:30%'>
        <h2>MindGraph v0</h2>

        <button id="calculate">Generate graph</button>
        <p><textarea name="input_text" cols="40" rows="25" id=input_text_area></textarea>
    </div>

    <div style='float:left; width:30%'>
        <h3>Graph</h3>
        <p><div id="mynetwork"></div>
    </div>

    <script type=text/javascript>
        $(function() {
            $('#calculate').bind('click', function() {
                $.getJSON('/get_graph', {
                    input_text: $('textarea[name="input_text"]').val()
                }, function(input_data) {
                    var COLORS = ['red', 'blue', 'green'];
                    var clusters = input_data.repr;
                    var graph_data = {
                        nodes: [],
                        edges: []
                    };
                    var seen_nodes = {};
                    for (i_cluster in clusters) {
                        data = clusters[i_cluster];
                        for (node in data.nodes) {
                            if (seen_nodes[node] != 1) {
                                graph_data.nodes.push({'id': node, 'label': node});
                                seen_nodes[node] = 1;
                            }
                        }
                        for (from in data.edges) {
                            for (to in data.edges[from]) {
                                var attrs = data.edges[from][to];
                                var edge_obj = {'from': from, 'to': to, 'color': COLORS[i_cluster % COLORS.length]};
                                if (attrs.hier) {
                                    edge_obj.arrows = 'to';
                                }
                                graph_data.edges.push(edge_obj);
                            }
                        }
                    }
                    var container = document.getElementById('mynetwork');
                    var options = {};
                    var network = new vis.Network(container, graph_data, options);
                });
                return false;
            });
        });
        // show pre-loaded data
        $(document).ready(function() {
            $('#input_text_area').load("{{ url_for('static', filename='example.txt') }}", function () {
                document.getElementById('calculate').click();
            });
        });
    </script>
</body>
